{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Add Category{% endblock %}


{% block main %}
<h2>Add Category</h2>
<form class="dataForm" method="post">
    <div class="form-group">
        <div class="form-label">English:</div>
        <div class="form-element"><input type="text" id="english" name="english" required></div>
    </div>

    <div class="form-group">
        <div class="form-label">Maōri:</div>
        <div class="form-element"><input type="text" id="maori" name="maori" required></div>
    </div>

    <div class="form-group">
        <div class="form-label">Level:</div>
        <div class="form-element"><input type="number" id="level" name="level" required></div>
    </div>

    <div class="form-group">
        <div class="form-label">Description:</div>
        <div class="form-element"><input type="textbox" id="description" name="description" required></div>
    </div>

    <div class="form-group">
        <div class="form-label"></div>
        <div class="form-element"><input type="submit" value="submit"></div>
    </div>

</form>
{% endblock %}
