{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Category{% endblock %}


{% block main %}

<table class="table">
    <h2>{{ category_data[0][1] }}</h2>
    <thead>
        <tr>
            <th>Maori</th>
            <th>English</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
    {% for category_word in category_words %}
    <tr>

        <td><a href="/word/{{ category_word [0] }}">{{ category_word [3] }}</a></td>
        <td><a href="/word/{{ category_word [0] }}">{{ category_word [4] }}</a></td>
        <td><img src="/static/images/{{ category_word [8] }}"></td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
