{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Word{% endblock %}


{% block main %}
<h2>{{ word_data[0][3] }} - {{ word_data[0][4] }}</h2>
    <table>
        <thead>
            <tr>
                <td>Definition:</td>
                <td>{{ word_data[0][5] }}</td>
            </tr>

            <tr>
                <td>Level:</td>
                <td>{{ word_data[0][6] }}</td>
            </tr>

            <tr>
                <td>Date Added:</td>
                <td>{{ word_data[0][7] }}</td>
            </tr>

            <tr>
                <td>Edited by:</td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td colspan=“2”><img class = "max"; src="/static/images/{{ word_data[0][8] }}"></td>
            </tr>
        </thead>
    </table>
{% endblock %}